
<div class="cross-sells-wrapper" style="background-color: {{ block_settings.cross_sell_bg }};" data-cart-action="{{ settings.cart-type }}" {% if block_attributes %}{{ block_attributes }}{% endif %}>
  {% if block_settings.title != blank %}
    <h5 class="label custom-font product-description-header">{{ block_settings.title }}</h5>
  {% endif %}
  {% assign subheading_font = settings.subheading--font %}
  {% assign base_font = settings.type_base_font %}
  <style>
    cross-sell {
      --cross-sell-bg: {{ block_settings.cross_sell_bg }};
      --color-primary: {{ settings.font-color }};
      --color-primary-light: {{ settings.font-color | color_modify: 'alpha', 0.2 }};
      --border-color: {{ settings.border-color | color_modify: 'alpha', 0.5 }};
      --border-color-subtle: {{ settings.border-color | color_modify: 'alpha', 0.1 }};
      --button-background-color: {{ settings.add-to-cart-background-color }};
      --button-background-hover-color: {{ settings.add-to-cart-background-hover-color }};
      --button-text-color: {{ settings.add-to-cart-text-color }};
      --body-font-size: {{ settings.typography-body-font-size }}px;
      {%- if settings.buttons--capitalize %}
        --buttons-transform: uppercase;
        --buttons-letter-spacing: 2px;
      {% else %}
        --buttons-transform: none;
        --buttons-letter-spacing: 0;
      {% endif -%}
      {%- if settings.buttons--font == 'body' %}
        --button-font-family: {{ base_font.family }}, {{ base_font.fallback_families }};
        --button-font-weight: {{ base_font.weight }};
        --button-font-style: {{ base_font.style }};
      {% else %}
        --button-font-family: {{ subheading_font.family }}, {{ subheading_font.fallback_families }};
        --button-font-weight: {{ subheading_font.weight }};
        --button-font-style: {{ subheading_font.style }};
      {% endif -%}
    }

    {% if block_settings.cross_sell_bg != "rgba(0,0,0,0)" %}
      .cross-sells-wrapper {
        padding: 16px;
      }
    {% endif %}

    .cross-sells-wrapper .product-description-header {
      margin-bottom: 16px;
    }
  </style>
  {% if block_settings.cross_sell_product_1 != blank %}
    {% render 'product-cross-sell', product_id: block_settings.cross_sell_product_1 %}
  {% endif %}
  {% if block_settings.cross_sell_product_2 != blank %}
    {% render 'product-cross-sell', product_id: block_settings.cross_sell_product_2 %}
  {% endif %}
  {% if block_settings.cross_sell_product_3 != blank %}
    {% render 'product-cross-sell', product_id: block_settings.cross_sell_product_3 %}
  {% endif %}
</div>

<script src="{{ 'component-cross-sells.js' | asset_url }}" type="module" defer="defer"></script>