{%- if enable_country_selector and localization.available_countries.size > 1 -%}
    <noscript>
        {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form localization-form__noscript localization-form__country' -%}
        <div class="localization-form__select">
            <h2 class="hide" id="FooterCountryLabelNoScript">{{ 'general.localization.country_label' | t }}</h2>
            <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">

            {%- for country in localization.available_countries -%}
                <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                </option>
            {%- endfor -%}

            </select>
        </div>
        <button class="btn alt-focus">{{ 'general.localization.update_country' | t }}</button>
        {%- endform -%}
    </noscript>

    <localization-form>
        {% form 'localization', id: 'FooterCountryForm', class: 'localization-form' %}
        <div class="js">
            <div class="disclosure">
            <button type="button" class="disclosure__button alt-focus" aria-expanded="false" aria-controls="CountryList">
                {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})

                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                </svg>
            </button>

            <ul id="CountryList" role="list" class="disclosure__list localization__list" hidden>
                {% for country in localization.available_countries %}
                <li class="disclosure__item" tabindex="-1" {% if country.iso_code == localization.country.iso_code %}selected{% endif %}>

                    <a href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                    {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </a>

                </li>
                {% endfor %}
            </ul>

            <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
            </div>
        </div>
        {% endform %}
    </localization-form>
{%- endif -%}

{%- if enable_locale_selector and localization.available_languages.size > 1 -%}
  <noscript>
  {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
      <div class="localization-form__select">
      <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'general.localization.language_label' | t }}</h2>
      <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
          {%- for language in localization.available_languages -%}
          <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
              {{ language.endonym_name | capitalize }}
          </option>
          {%- endfor -%}
      </select>
      </div>
      <button class="button button--tertiary">{{ 'general.localization.update_language' | t }}</button>
  {%- endform -%}
  </noscript>

  <localization-form>
    {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
      <div class="js">
        <div class="disclosure">
            <button type="button" class="disclosure__button alt-focus" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
            {{ localization.language.endonym_name | capitalize }}
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
            </svg>
            </button>
            <ul id="FooterLanguageList" role="list" class="disclosure__list localization__list" hidden>
            {%- for language in localization.available_languages -%}
                <li class="disclosure__item" tabindex="-1" {% if language.iso_code == localization.language.iso_code %}selected{% endif %}>
                <a href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                    {{ language.endonym_name | capitalize }}
                </a>
                </li>
            {%- endfor -%}
            </ul>
        </div>
        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
      </div>
    {%- endform -%}
  </localization-form>
{%- endif -%}

<script src="{{ 'component-localization-form.js' | asset_url }}" defer="defer" type="module"></script>
