{% if settings.enable_verification_popup %}

<div class="verification-popup-container" style="display: none" data-age-test-mode="{{ settings.verification-pop-up__test-mode }}" tabindex="-1">
  <div id="prompt__background">
    <div id="verification__prompt" class="modal__prompt" role="dialog">

      <div class="verification-popup-logo__container" itemscope itemtype="http://schema.org/Organization">
        {% capture props %}itemprop="logo"{% endcapture %}

        {% if settings.verification-popup__logo %}
          <div class="verification-popup-logo__image">
            {% capture alt %}{{ settings.verification-popup__logo.alt | default: shop.name }}{% endcapture %}
            {% render 'responsive-image' with settings.verification-popup__logo, alt: alt, props: props %}
          </div>
        {% endif %}
      </div>

      <div class="modal-initial-content">
        <div class="modal-content__wrapper">
          {% if settings.verification-pop-up__header != '' %}
            <h3>
              {{ settings.verification-pop-up__header }}
            </h3>
          {% endif %}
          {% if settings.verification-pop-up__description != '' %}
            {{ settings.verification-pop-up__description }}
          {% endif %}
        </div>

        <div class="modal-button-container">
          {% if settings.exit-button__text != '' %}
            <button role="button" id="button__exit" class="btn__exit btn secondary-button styled-submit" tabindex="1">{{ settings.exit-button__text }}</button>
          {% endif %}
          {% if settings.confirm-button__text != '' %}
            <button role="button" class="btn__enter btn" id="button__enter" tabindex="1">{{ settings.confirm-button__text }}</button>
          {% endif %}
        </div>
      </div>

      <div class="modal-deny-content hidden">
        <button role="button" class="verification-popup__close-button alt-focus" aria-label="Close">
          <span>
            <i data-feather="x"></i>
          </span>
        </button>
        <div class="modal-content__wrapper">
          {% if settings.deny__header != '' %}
            <h3>
              {{ settings.deny__header }}
            </h3>
          {% endif %}
          {% if settings.deny__description != '' %}
            {{ settings.deny__description }}
          {% endif %}
        </div>

        <div class="modal-button-container">
          {% if settings.deny-button__text != '' %}
            <button role="button" id="button__return" class="btn__return btn">{{ settings.deny-button__text }}</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

<style>

.verification-popup-logo__image img {
  max-width: {{ settings.verification-popup-logo--max-width }}px;
}

 @media screen and (min-width: 992px) {
  .verification-popup-logo__image img {
    width: {{ settings.verification-popup-logo--max-width }}px;
  }
 }

{% if settings.verification-popup--background-image %}
{% render 'responsive-background-image' with settings.verification-popup--background-image, selector: '#prompt__background', sizes: '600, 1200, 2000', scale: 1 %}
#prompt__background {
  background-size: cover;
  background-color: {{ settings.verification-popup--background-color }};
  background-position: center;
  background-attachment: fixed
}

body {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
}
{% endif %}

#prompt__background {
  background-color: {{ settings.verification-popup--background-color }};
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>