<!DOCTYPE html>
<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {%- comment -%}DemoStoreRequirements{%- endcomment -%}

  {% render 'css-variables' %}

  {{ 'theme-index.min.css' | asset_url | stylesheet_tag }}
  {{ 'password.css' | asset_url | stylesheet_tag }}

  {% if settings.type_base_font contains 'Google' %}
		{%- assign type_body_parts = settings.type_base_font | split: '_' -%}
		{% capture bodyGoogleUrl %}{{ type_body_parts[1] }}:400,700{% endcapture %}
		{{ '//fonts.googleapis.com/css?family=' | append: bodyGoogleUrl | stylesheet_tag }}
	{% endif %}

	{% if settings.type_header_font contains 'Google' %}
		{% unless settings.type_header_font contains type_body_parts[1] and settings.type_header_font contains '700' %}
			{%- assign type_heading_parts = settings.type_header_font | split: '_' -%}
			{% capture headingGoogleUrl %}{{ type_heading_parts[1] }}:{{ type_heading_parts[2] }}{% endcapture %}
			{{ '//fonts.googleapis.com/css?family=' | append: headingGoogleUrl | stylesheet_tag }}
		{% endunless %}
	{% endif %}

  <script>
    window.wetheme = window.wetheme ? window.wetheme : {};
  </script>

  <script type="module" src="{{ 'theme.min.js' | asset_url }}"></script>
  <script nomodule src="{{ 'theme.legacy.min.js' | asset_url }}"></script>
  <script type="module" src="{{ 'password.js' | asset_url }}"></script>

  <title>{{ 'coming_soon.general.title' | t }}</title>

  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {{ content_for_header }}

</head>

<body class="password-page">

  <div class="background-overlay">

    <div id="login">

      {{ content_for_layout }}

    </div>

  </div>

  <script type="application/json" id="wetheme-global">
    {
      {% comment %}Translations that will be used in javascript section handling{% endcomment %}
      "translations": {
        "addToCart": {{ 'products.product.add_to_cart' | t | json }},
        "added": {{ 'products.product.added' | t | json }},
        "soldOut": {{ 'products.product.sold_out' | t | json }},
        "unavailable": {{ 'products.product.unavailable' | t | json }},
        "makeASelection": {{ 'products.product.make_a_selection' | t | json }},
        "showMore": {{ 'general.filters.show_more' | t | json }},
        "showLess": {{ 'general.filters.show_less' | t | json }},
        "saving": {{ 'products.general.saving' | t | json }}
      },
      "moneyFormat": {{ shop.money_format | json }}
    }
  </script>

</body>

</html>