<style>

.header-logo {
  width: {{ section.settings.logo_max_width }}px!important;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .header-logo {
    max-width: 290px!important;
  }
}

#password-header h1#site-title {
  font-size: 2em;
}

</style>

<div id="password-header" class="container">
  <h1 id="site-title">
    {% if section.settings.logo %}
    {% capture alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
    {% render 'responsive-image' with section.settings.logo, alt: alt, props: 'itemprop="logo"', class: 'header-logo' %}
    {% else %}
    {{ shop.name | escape }}
    {% endif %}
  </h1>

  {% if shop.password_message != '' %}
    <div class="welcome-message custom-font">{{ shop.password_message }}</div>
  {% else %}
    <div class="welcome-message custom-font">
      <p><span class="default-text">{{ 'coming_soon.general.opening_soon' | t }}</span></p>
    </div>
  {% endif %}

  {% if section.settings.social_media_icons %}

    <div class="password--social-links">
      {% assign class = 'password-social-links' %}
      {% render 'social-links', class: class %}
    </div>

  {% endif %}

</div>

{% schema %}
{
    "name": {
        "en": "Header",
        "de": "Überschrift",
        "es": "Encabezado",
        "fr": "En-tête",
        "pt-PT": "Cabeçalho"
    },
    "settings": [
        {
            "type": "header",
            "content": {
                "en": "Header",
                "de": "Überschrift",
                "es": "Encabezado",
                "fr": "En-tête",
                "pt-PT": "Cabeçalho"
            }
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": {
                "en": "Logo image",
                "de": "Logobild",
                "es": "Imagen del logotipo",
                "fr": "Image du logo",
                "pt-PT": "Imagem do logótipo"
            }
        },
        {
            "type": "range",
            "id": "logo_max_width",
            "min": 50,
            "max": 400,
            "step": 10,
            "unit": {
                "en": "px",
                "de": "px",
                "es": "px",
                "fr": "px",
                "pt-PT": "px"
            },
            "label": {
              "en": "Preferred width",
              "de": "Bevorzugte Breite",
              "es": "Ancho preferido",
              "fr": "Largeur préférée",
              "pt-PT": "Largura preferida"
            },
            "default": 200
        },
        {
            "type": "paragraph",
            "content": {
                "en": "[Edit your password page message in your Shopify settings](http://www.shopify.com/admin/online_store/preferences)",
                "de": "[Bearbeiten Sie die Nachricht Ihrer Passwort-Seite in Ihren Shopify-Einstellungen](http://www.shopify.com/admin/online_store/preferences)",
                "es": "[Edite el mensaje de su página de contraseña en sus ajustes de Shopify](http://www.shopify.com/admin/online_store/preferences)",
                "fr": "[Modifiez le message de votre page de mot de passe dans vos paramètres Shopify](http://www.shopify.com/admin/online_store/preferences)",
                "pt-PT": "[Edite a mensagem na página da palavra-passe nas suas definições da Shopify](http://www.shopify.com/admin/online_store/preferences)"
            }
        },
        {
            "type": "checkbox",
            "id": "social_media_icons",
            "label": {
                "en": "Show social media icons",
                "de": "Social-Media-Symbole anzeigen",
                "es": "Mostrar los iconos de redes sociales",
                "fr": "Afficher les icônes des médias sociaux",
                "pt-PT": "Mostrar ícones de redes sociais"
            },
            "default": true,
            "info": {
                "en": "Edit your social media settings and accounts in Theme settings",
                "de": "Bearbeiten Sie Ihre sozialen Einstellungen und Konten in den Theme-Einstellungen.",
                "es": "Edite sus ajustes de redes sociales y cuentas en la configuración del tema",
                "fr": "Modifiez les paramètres de vos médias sociaux et de vos comptes dans les paramètres du Thème",
                "pt-PT": "Edite as suas configurações e contas sociais nas configurações do Tema"
            }
        }
    ]
}
{% endschema %}
