
<style>

{% assign textLightness = section.settings.text-color | color_brightness %}

body{
  color: {{ section.settings.text-color }};
  background-color: {{ section.settings.background-color }};
}

a{
  color: {{ section.settings.text-color }};
}

.hide {
    display: none!important;
}

.password-spinner {
    margin-top: 20px;
}

#powered a{
    color: {{ section.settings.text-color }};
    text-decoration: underline;
}

#powered a:hover {
    text-decoration: none;
    opacity: 0.6;
}

#contact_form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: {{ section.settings.text-color }};
    opacity: 1; /* Firefox */
}

#contact_form :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: {{ section.settings.text-color }};
}

#contact_form ::-ms-input-placeholder { /* Microsoft Edge */
    color: {{ section.settings.text-color }};
}

input[type=email] {
	background-color: transparent;
	border: 2px solid {{ section.settings.text-color }};
  color: {{ section.settings.text-color }};
  width: 250px;
}

.password--social-links li a path {
  fill: {{ section.settings.text-color }};
}

.password--social-links li:hover a path {
  {%- if textLightness > 30 -%}
  fill: {{ section.settings.text-color | color_darken: 30 }};
  {%- else -%}
  fill: {{ section.settings.text-color | color_lighten: 30 }};
  {%- endif -%}
}

.modal-open a{
  color: {{ section.settings.text-color }};
}

#contact_form #email{
  color: {{ section.settings.text-color }};
  border: 1px solid {{ section.settings.text-color }};
  background-color: {{ section.settings.background-color }};
}

{% if section.settings.background %}
{% render 'responsive-background-image' with section.settings.background, selector: 'body' %}
body{
  background-size: cover;
  background-color: {{ section.settings.background-color }};
  background-position: center;
  background-attachment: fixed
}

.background-overlay{
    background-color: rgba(0, 0, 0, 0.{{ section.settings.image_overlay_opacity }});
    overflow-y: auto;
}
{% endif %}

</style>

<div class="password-mailing-list container">
  {% if section.settings.newsletter_enable %}
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <div class="success-msg form-success alert alert-success" role="alert">{{ 'coming_soon.general.thanks_mailing' | t }}</div>
      {% else %}
        <div class="form-group password-form" id="newsletter-wrapper">
          {% if section.settings.newsletter_description != empty %}
            <div class="rte">{{ section.settings.newsletter_description }}</div>
          {% endif %}
          <div class="input-group">
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <input required type="email" name="contact[email]" placeholder="your@email.com" class="form-control{% if form.errors contains 'email' %} error{% endif %}" value="" autocorrect="off" autocapitalize="off" />
            <span class="input-group-btn"><input id="password-submit" type="submit" value="{{ 'general.newsletter_form.submit' | t }}" class="btn btn-default btn--password-submit"></span>
          </div>
        </div>
        <div class="lds-dual-ring newsletter-spinner hide"></div>
      {% endif %}
    {% endform %}
  {% endif %}
</div>

<div id="login-modal" class="modal">
  <div id="site-owner-options">
    <div class="password-wrapper">
      <div class="col-md-12">
        {% form 'storefront_password' %} {{ form.errors | default_errors }}
          <div class="form-group">
            <label for="password">{{ 'coming_soon.general.password' | t }}</label>
            <div class="input-group">
              <input type="password" name="password" id="password" class="form-control" autofocus />
              <span class="input-group-btn password-submit">
                <input class="btn" name="commit" type="submit" value="{{ 'coming_soon.general.continue' | t }}" />
              </span>
              <div class="lds-dual-ring password-spinner hide"></div>
            </div>
          </div>
        {% endform %}
      </div>
    </div>
    <p class="store-owner">{{ 'coming_soon.general.store_owner' | t }}<br />{{ 'coming_soon.general.store_owner_html' | t }}</p>
  </div>
</div>

<div id="powered">
  <div class="powered-inner">
    <div class="modal-open"><a href="#login-modal" class="modal-open--link">{{ 'coming_soon.general.password' | t }}</a></div>
    {{ 'coming_soon.general.powered_by_html' | t }}
  </div>
</div>

{% schema %}
{
    "name": {
        "en": "Content",
        "de": "Inhalt",
        "es": "Contenido",
        "fr": "Contenu",
        "pt-PT": "Conteúdo"
    },
    "settings": [
        {
            "type": "header",
            "content": {
                "en": "Colors",
                "de": "Farben",
                "es": "Colores",
                "fr": "Couleurs",
                "pt-PT": "Cores"
            }
        },
        {
            "type": "color",
            "id": "text-color",
            "label": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "background-color",
            "label": {
                "en": "Background",
                "de": "Hintergrund",
                "es": "Fondo",
                "fr": "Contexte général",
                "pt-PT": "Fundo"
            },
            "default": "#ffffff"
        },
        {
            "type": "header",
            "content": {
                "en": "Background image",
                "de": "Hintergrundbild",
                "es": "Imagen de fondo",
                "fr": "Image d'arrière-plan",
                "pt-PT": "Imagem de fundo"
            }
        },
        {
            "type": "image_picker",
            "id": "background",
            "label": {
                "en": "Image",
                "de": "Bild",
                "es": "Imagen",
                "fr": "Image",
                "pt-PT": "Imagem"
            },
            "info": {
                "en": "2000 x 800px recommended",
                "de": "2000 x 800 px empfohlen",
                "es": "Recomendado 2000 x 800 px",
                "fr": "2000 x 800 px recommandé",
                "pt-PT": "2000 x 800px, recomendado"
            }
        },
        {
            "type": "range",
            "id": "image_overlay_opacity",
            "min": 0,
            "max": 95,
            "step": 5,
            "unit": {
                "en": "%",
                "de": "%",
                "es": "%",
                "fr": "%",
                "pt-PT": "%"
            },
            "label": {
                "en": "Overlay opacity",
                "de": "Überlagerungsdeckkraft",
                "es": "Capacidad de sobrexposición",
                "fr": "Opacité de superposition",
                "pt-PT": "Opacidade de sobreposição"
            },
            "default": 60
        },
        {
            "type": "header",
            "content": {
                "en": "Newsletter",
                "de": "Newsletter",
                "es": "Boletín de noticias",
                "fr": "Bulletin d'information",
                "pt-PT": "Newsletter"
            }
        },
        {
            "type": "checkbox",
            "id": "newsletter_enable",
            "label": {
                "en": "Show newsletter signup",
                "de": "Newsletter-Anmeldung anzeigen",
                "es": "Mostar el registro al boletín de noticias",
                "fr": "Afficher l'inscription au bulletin d'information",
                "pt-PT": "Mostrar assinatura de newsletter"
            },
            "default": true
        },
        {
            "type": "richtext",
            "id": "newsletter_description",
            "label": {
                "en": "Description",
                "de": "Beschreibung",
                "es": "Descripción",
                "fr": "Description",
                "pt-PT": "Descrição"
            },
            "default": {
                "en": "<p>Find out when we open</p>",
                "de": "<p>Finden Sie heraus, wann wir öffnen</p>",
                "es": "<p>Descúbrelo cuando abramos</p>",
                "fr": "<p>Découvrez quand nous ouvrons </p>",
                "pt-PT": "<p>Descubra quando abrirmos</p>"
            }
        }
    ]
}
{% endschema %}
