{% case section.settings.images-per-row %}
  {% when 2 %}
    {%- assign grid_item_width = 'col-6 col-sm-6 col-md-6 col-lg-6 two_columns' -%}
  {% when 3 %}
    {%- assign grid_item_width = 'col-6 col-sm-4 col-md-4 col-lg-4 three_columns' -%}
  {% when 4 %}
    {%- assign grid_item_width = 'col-6 col-sm-6 col-md-3 col-lg-3 four_columns' -%}
  {% when 5 %}
    {%- assign grid_item_width = 'col-6 col-sm-6 col-md-2dot4 col-lg-2dot4 five_columns' -%}
  {% when 6 %}
    {%- assign grid_item_width = 'col-6 col-sm-4 col-md-2 col-lg-2 six_columns' -%}
{% endcase %}

{% assign numCollections = section.settings.collections_per_page %}

<div class="list-collection-page container" id="collections-listing" data-wetheme-section-type="template--collections-list" data-wetheme-section-id="{{ section.id }}">

    <div class="title-bar custom-font">
      <h2>{{ 'collections.general.product_collections' | t }}</h2>
      <div class="clear"></div>
    </div>

    {% paginate collections by numCollections %}
      {% case section.settings.layout %}
        {% when 'preview' %}

        {% for collection in collections %}
            <div class="row">
                {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

                <div class="col-md-12 list-collection-page__heading">
                  <div>
                    <a class="list-collection-page__link" href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">
                      <h3 class="list-collection-page__title">{{ collection.title }}</h3>
                      <span class="list-collection-page__count">{{ 'collections.general.items_with_count' | t: count: collection.all_products_count }}</span>
                    </a>
                  </div>
                </div>
            </div>
            <div class="product-grid clearfix">
              <div class="row animated-collection-list">

                {% for product in collection.products limit: section.settings.images-per-row %}
                  <div class="grid__item {{ grid_item_width }} indiv-product-wrapper collection-image-anim wow fadeInUp


                    {% case section.settings.images-per-row %}
                      {% when 2 %}
                        {% cycle 'mobileCycle': ' alpha mobile-clear tablet-clear', ' omega' %}
                      {% when 3 %}
                        {% cycle 'mobileCycle': ' alpha mobile-clear', '', ' mobile-clear omega', 'alpha', ' mobile-clear', ' omega' %}
                      {% when 4 %}
                        {% cycle 'mobileCycle': ' alpha mobile-clear tablet-clear', '', ' mobile-clear tablet-clear', ' omega' %}
                      {% when 5 %}
                        {% cycle 'mobileCycle': ' alpha mobile-clear tablet-clear', '', ' mobile-clear tablet-clear', '', ' omega mobile-clear tablet-clear', ' alpha', ' mobile-clear tablet-clear', '', ' mobile-clear tablet-clear', ' omega' %}
                      {% when 6 %}
                        {% cycle 'mobileCycle': ' alpha mobile-clear tablet-clear', '', ' mobile-clear', ' tablet-clear', ' mobile-clear', ' omega' %}
                    {% endcase %}
                  ">

                  {%-
                    render 'product-grid--indiv-product',
                    liquidObject: product, section: section
                  -%}

                  </div>
                {% endfor %}
              </div>
            </div>
        {% endfor %}

        {% when 'grid' %}

          <div class="row list-collection-page__grid">
            {% for collection in collections %}
              <div class="grid__item {{ grid_item_width }} indiv-product-wrapper collection-image-anim wow fadeInUp

                {% case section.settings.images-per-row %}
                  {% when 2 %}
                    {% cycle 'mobileCycle': ' alpha mobile-clear tablet-clear', ' omega' %}
                  {% when 3 %}
                    {% cycle 'mobileCycle': ' alpha mobile-clear', '', ' mobile-clear omega', 'alpha', ' mobile-clear', ' omega' %}
                  {% when 4 %}
                    {% cycle 'mobileCycle': ' alpha mobile-clear tablet-clear', '', ' mobile-clear tablet-clear', ' omega' %}
                  {% when 5 %}
                    {% cycle 'mobileCycle': ' alpha mobile-clear tablet-clear', '', ' mobile-clear tablet-clear', '', ' omega mobile-clear tablet-clear', ' alpha', ' mobile-clear tablet-clear', '', ' mobile-clear tablet-clear', ' omega' %}
                  {% when 6 %}
                    {% cycle 'mobileCycle': ' alpha mobile-clear tablet-clear', '', ' mobile-clear', ' tablet-clear', ' mobile-clear', ' omega' %}
                {% endcase %}
              ">
                {% render 'responsive-image' with collection, alt: collection.featured_image.alt %}
                <h3 class="type-subheading type-subheading--1">
                  <a href="{{ collection.url }}">{{ collection.title }}</a>
                </h3>
              </div>
            {% endfor %}
          </div>

      {% endcase %}

      {% render 'pagination', paginate: paginate %}

    {% endpaginate %}

</div>

{% schema %}
{
    "name": {
        "en": "List collections",
        "de": "Kollektionen auflisten",
        "es": "Lista de colecciones",
        "fr": "Répertorier les collections",
        "pt-PT": "Enumerar coleções"
    },
    "settings": [
        {
            "type": "range",
            "id": "images-per-row",
            "min": 2,
            "max": 6,
            "step": 1,
            "label": "Images per row",
            "default": 3
        },
        {
            "type": "range",
            "id": "collections_per_page",
            "min": 8,
            "max": 24,
            "step": 1,
            "label": "Collections per page",
            "default": 16
        },
        {
            "type": "radio",
            "id": "layout",
            "label": {
                "en": "Layout style",
                "de": "Layout-Stil",
                "es": "Estilo del diseño",
                "fr": "Style de mise en page",
                "pt-PT": "Estilo do layout"
            },
            "default": "preview",
            "options": [
                {
                    "value": "preview",
                    "label": {
                        "en": "Preview",
                        "de": "Vorschau",
                        "es": "Vista previa",
                        "fr": "Aperçu",
                        "pt-PT": "Visualização"
                    }
                },
                {
                    "value": "grid",
                    "label": {
                        "en": "Grid",
                        "de": "Raster",
                        "es": "Cuadrícula",
                        "fr": "Grille",
                        "pt-PT": "Grelha"
                    }
                }
            ]
        }
    ],
    "blocks": [
      {
        "name": "Grid card vendor",
        "type": "grid-card-vendor",
        "limit": 1,
        "settings": [
            {
                "type": "paragraph",
                "content": "This block determines the position of the product grid item vendor."
            }
        ]
      },
      {
        "name": "Grid card heading",
        "type": "grid-card-title",
        "limit": 1,
        "settings": [
            {
                "type": "paragraph",
                "content": "This block determines the position of the product grid item heading."
            }
        ]
      },
      {
          "name": "Grid card price",
          "type": "grid-card-price",
          "limit": 1,
          "settings": [
              {
                  "type": "paragraph",
                  "content": "This block determines the position of the product grid item price."
              }
          ]
      },
      {
          "name": "Grid card swatches",
          "type": "grid-card-swatches",
          "limit": 1,
          "settings": [
              {
                  "type": "paragraph",
                  "content": "This block determines the position of the product grid item swatches."
              }
          ]
      }
    ]
}
{% endschema %}
