{{ 'section-text-slideshow.min.css' | asset_url | stylesheet_tag }}

{% case section.settings.colors %}
  {% when 'white' %}
    <section class="homepage-sections-wrapper homepage-sections-wrapper--white">
  {% when 'light' %}
    <section class="homepage-sections-wrapper homepage-sections-wrapper--light">
  {% when 'accent' %}
    <section class="homepage-sections-wrapper homepage-sections-wrapper--accent">
  {% when 'dark' %}
    <section class="homepage-sections-wrapper homepage-sections-wrapper--dark">
{% endcase %}

    {% if section.blocks.size > 1 %}
      <style>
        .text-slideshow__wrapper.text-slideshow--{{ section.id }} {
          margin-bottom: 30px;
        }
      </style>
      <text-slideshow>
    {% endif %}
        <div class="container">
          <div class="text-slideshow__wrapper text-slideshow--{{ section.id }}">
            <ul class="text-slideshow__slide-container" data-text-slide-container>
            {% for block in section.blocks %}
              {% capture index %}{% cycle 'slideIndex': 0, 1, 2, 3, 4, 5 %}{% endcapture %}
              <li 
                data-text-slide={{ index }} 
                class="text-slideshow__slide{% if forloop.first == true %} active{% endif %}"
                {{ block.shopify_attributes }}
              >
                <div class="text-slideshow__slide-content">
                  {% if block.settings.title != blank or block.settings.subheading != blank %}
                    <div class="title-bar custom-font">
                      {% if block.settings.subheading != blank %}
                        <h3 class="type-subheading type-subheading--1 wow fadeIn{% if block.settings.title != blank %} typography--padding-bottom{% endif %}">{{ block.settings.subheading | escape }}</h3>
                      {% endif %}
                      {% if block.settings.title != blank %}
                        <h2 class="wow fadeIn{% if block.settings.subheading != blank %} delay-1{% endif %}">{{ block.settings.title | escape }}</h2>
                      {% endif %}
                    </div>
                  {% endif %}
                  <div class="wow fadeInUp delay-1">
                    {% if block.settings.text != blank %}
                      <div class="rte featured-row__subtext">{{ block.settings.text }}</div>
                    {% endif %}
                    {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                      <div>
                        <a 
                          href="{{ block.settings.button_link }}"
                          class="btn"
                          tabindex="0"
                        >
                          {{ block.settings.button_label }}
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>
            {% if section.blocks.size > 1 %}
              <button 
                class="text-slideshow__navigation alt-focus"
                type="button"
                name="previous"
                aria-label="Previous slide"
                aria-hidden="true"
                tabindex="-1"
                disabled
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.002 512.002"><path d="M388.425 241.951L151.609 5.79c-7.759-7.733-20.321-7.72-28.067.04-7.74 7.759-7.72 20.328.04 28.067l222.72 222.105-222.728 222.104c-7.759 7.74-7.779 20.301-.04 28.061a19.8 19.8 0 0014.057 5.835 19.79 19.79 0 0014.017-5.795l236.817-236.155c3.737-3.718 5.834-8.778 5.834-14.05s-2.103-10.326-5.834-14.051z"/></svg>
              </button>
              <button 
                class="text-slideshow__navigation alt-focus"
                type="button"
                name="next"
                aria-label="Next slide"
                aria-hidden="false"
                tabindex="0"
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.002 512.002"><path d="M388.425 241.951L151.609 5.79c-7.759-7.733-20.321-7.72-28.067.04-7.74 7.759-7.72 20.328.04 28.067l222.72 222.105-222.728 222.104c-7.759 7.74-7.779 20.301-.04 28.061a19.8 19.8 0 0014.057 5.835 19.79 19.79 0 0014.017-5.795l236.817-236.155c3.737-3.718 5.834-8.778 5.834-14.05s-2.103-10.326-5.834-14.051z"/></svg>
              </button>
              <ul class="text-slideshow__pagination" data-text-slide-pagination>
                {% for block in section.blocks %}
                  {% capture index %}{% cycle 'paginationIndex': 0, 1, 2, 3, 4, 5 %}{% endcapture %}
                  <li>
                    <button
                      class="text-slideshow__pagination-btn alt-focus{% if forloop.first == true %} active{% endif %}"
                      data-pagination-btn={{ index }}
                      type="button"
                      aria-label="Go to slide {{ index | plus: 1 }}"
                    >
                      <span></span>
                    </button>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
    {% if section.blocks.size > 1 %}
      </text-slideshow>
    {% endif %}
    </section>

{% schema %}
{
    "name": "Text slideshow",
    "settings": [
      {
        "type": "select",
        "id": "colors",
        "label": {
            "en": "Color scheme",
            "de": "Farbschema",
            "es": "Esquema de colores",
            "fr": "Palette de couleurs",
            "pt-PT": "Esquema de cores"
        },
        "default": "white",
        "options": [
            {
                "value": "white",
                "label": {
                    "en": "White",
                    "de": "Weiß",
                    "es": "Blanco",
                    "fr": "Blanc",
                    "pt-PT": "Branco"
                }
            },
            {
                "value": "light",
                "label": {
                    "en": "Light",
                    "de": "Licht",
                    "es": "Luz",
                    "fr": "Clair",
                    "pt-PT": "Claro"
                }
            },
            {
                "value": "accent",
                "label": {
                    "en": "Feature",
                    "de": "Eigenschaft",
                    "es": "Destacado",
                    "fr": "Caractéristique",
                    "pt-PT": "Funcionalidade"
                }
            },
            {
                "value": "dark",
                "label": {
                    "en": "Dark",
                    "de": "Dunkel",
                    "es": "Oscuro",
                    "fr": "Foncé",
                    "pt-PT": "Escuro"
                }
            }
        ],
        "info": {
            "en": "Set your color schemes in 'Theme settings' > 'Colors'",
            "de": "Legen Sie Ihre Farbschemata in 'Themeneinstellungen' > 'Farben' fest",
            "es": "Configurar las combinaciones de color en 'Configuración del tema' > 'Colores'",
            "fr": "Définissez vos jeux de couleurs dans « Paramètres du thème » > « Couleurs »",
            "pt-PT": "Defina os seus esquemas de cor em 'Definições de tema' > 'Cores'"
        }
      }
    ],
    "blocks": [
        {
          "type": "text",
          "name": "Text",
          "limit": 3,
          "settings": [
              {
                "type": "text",
                "id": "subheading",
                "label": {
                  "en": "Subheading",
                  "de": "Unterüberschrift",
                  "es": "Subencabezado",
                  "fr": "Sous-rubrique",
                  "pt-PT": "Subtítulo"
                }
              },
              {
                  "type": "text",
                  "id": "title",
                  "label": {
                      "en": "Heading",
                      "de": "Überschrift",
                      "es": "Encabezado",
                      "fr": "Rubrique",
                      "pt-PT": "Título"
                  },
                  "default": {
                      "en": "Heading",
                      "de": "Überschrift",
                      "es": "Encabezado",
                      "fr": "Rubrique",
                      "pt-PT": "Título"
                  }
              },
              {
                  "type": "richtext",
                  "id": "text",
                  "label": {
                      "en": "Text",
                      "de": "Text",
                      "es": "Texto",
                      "fr": "Texte",
                      "pt-PT": "Texto"
                  },
                  "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
              },
              {
                  "type": "url",
                  "id": "button_link",
                  "label": {
                      "en": "Button link",
                      "de": "Buttonlink",
                      "es": "Enlace del botón",
                      "fr": "Lien du bouton",
                      "pt-PT": "Ligação do botão"
                  },
                  "info": {
                      "en": "Required to show the button",
                      "de": "Notwendig, den Button zu zeigen",
                      "es": "Es necesario mostrar el botón",
                      "fr": "Requis pour afficher le bouton",
                      "pt-PT": "Necessário para exibir o botão"
                  }
              },
              {
                  "type": "text",
                  "id": "button_label",
                  "label": {
                      "en": "Button label",
                      "de": "Button-Bezeichnung",
                      "es": "Etiqueta del botón",
                      "fr": "Étiquette du bouton",
                      "pt-PT": "Etiqueta do botão"
                  }
              }
          ]
        }
    ],
    "presets": [
        {
            "name": "Text slideshow",
            "category": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "blocks": [
                {
                    "type": "text"
                },
                {
                    "type": "text"
                },
                {
                    "type": "text"
                }
            ]
        }
    ],
    "templates": [
      "article"
    ]
}
{% endschema %}
