{{ 'section-testimonials.min.css' | asset_url | stylesheet_tag }}

{% case section.settings.colors %}
  {% when 'white' %}
    <section class="homepage-sections-wrapper homepage-sections-wrapper--white">
  {% when 'light' %}
    <section class="homepage-sections-wrapper homepage-sections-wrapper--light">
  {% when 'accent' %}
    <section class="homepage-sections-wrapper homepage-sections-wrapper--accent">
  {% when 'dark' %}
    <section class="homepage-sections-wrapper homepage-sections-wrapper--dark">
{% endcase %}

  <div class="container testimonial-section--{{ section.id }}{% if section.settings.slider-animation == 'fade' %} slideshow-{{ section.id }}--fade{% endif %}" data-wetheme-section-type="text--testimonials" data-wetheme-section-id="{{ section.id }}">
    <div class="row">
      <div class="page-width col-md-12">
        {% if section.settings.title != blank or section.settings.subheading != blank %}
          <div class="title-bar custom-font">
            {% if section.settings.subheading != blank %}
              <h3 class="type-subheading type-subheading--1 wow fadeIn{% if section.settings.title != blank %} typography--padding-bottom{% endif %}">{{ section.settings.subheading | escape }}</h3>
            {% endif %}
            {% if section.settings.title != blank %}
              <h2 class="wow fadeIn{% if section.settings.subheading != blank %} delay-1{% endif %}">{{ section.settings.title | escape }}</h2>
            {% endif %}
          </div>
        {% endif %}

        {% case section.blocks.size %}
          {% when 0 %}
            <div class="placeholder-noblocks">
              {{ 'general.onboarding.no_content' | t }}
            </div>
          {% when 1 %}
            <div class="row">
              <div class="col-md-12">
                <ul class="slides testimonial-slides" style="width: {{ section.blocks | size | times:100 }}%;">
                  {% for block in section.blocks %}
                    <li {{ block.shopify_attributes }} class="slider-block--{{ block.id }}">
                      <div class="testimonial-container">
                        <div class="testimonial-content">
                          <figure>

                            {% if block.settings.testimonial != blank %}
                              <div class="testimonial-text">
                                <blockquote>
                                  {{ block.settings.testimonial }}
                                </blockquote>
                              </div>
                            {% endif %}
                            {% if block.settings.link != blank and block.settings.author != blank %}
                              <a href="{{ block.settings.link }}" target="_blank">
                                <h3 class="type-subheading type-subheading--1"><cite class="author">{{ block.settings.author | escape }}</cite></h3>
                              </a>
                            {% elsif block.settings.author != blank %}
                              <h3 class="type-subheading type-subheading--1"><cite class="author">{{ block.settings.author | escape }}</cite></h3>
                            {% endif %}
                          </figure>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% else %}
            <div class="row">
              <div class="flexslider-container flexslider-container-testimonial col-md-12">
                <div class="flexslider flexslider-homepage-testimonial" data-slider-id="{{ section.id }}" data-slider-slide-time="{{ section.settings.slider-slide-time }}000" data-slider-controls="{{ section.settings.show-slide-controls }}" data-slider-animation="{{ section.settings.slider-animation }}" data-slider-dots="{{ section.settings.show-slide-dots }}" data-slider-arrows="{{ section.settings.show-slide-arrows }}">
                  <ul class="slides testimonial-slides" style="width: {{ section.blocks | size | times:100 }}%;">
                    {% assign number_of_slides_float = section.blocks | size | times:1.0 %}
                    {% for block in section.blocks %}
                      <li {{ block.shopify_attributes }} data-slide-index="{{ forloop.index0 }}" class="slider-block--{{ block.id }}">
                        <div class="testimonial-container">
                          <div class="testimonial-content {% if section.settings.show-slide-arrows %}testimonial--arrow-padding{% else %}testimonial--no-arrow-padding{% endif %}">
                            <figure>
                              {% if block.settings.testimonial != blank %}
                                {% if block.settings.stars != blank and block.settings.stars != "0" %}

                                    <div class="testimonial-stars" data-rating="{{ block.settings.stars }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                    </div>
                                {% endif %}
                                <div class="testimonial-text">
                                  <blockquote>
                                    {{ block.settings.testimonial }}
                                  </blockquote>
                                </div>
                              {% endif %}
                              {% if block.settings.link != blank and block.settings.author != blank %}
                                <a href="{{ block.settings.link }}" target="_blank">
                                  <h3 class="type-subheading type-subheading--1"><cite class="author">{{ block.settings.author | escape }}</cite></h3>
                                </a>
                              {% elsif block.settings.author != blank %}
                                <h3 class="type-subheading type-subheading--1"><cite class="author">{{ block.settings.author | escape }}</cite></h3>
                              {% endif %}
                            </figure>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                  {% if section.settings.show-slide-arrows %}
                  <ul class="flex-direction-nav slider--{{ section.id }}">
                    <li class="flex-nav-prev">
                      <button class="flex-direction-nav__button alt-focus flex-prev" aria-label="{{ 'general.slider.previous' | t }}" type="button">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                      </button>
                    </li>
                    <li class="flex-nav-next">
                      <button class="flex-direction-nav__button alt-focus flex-next" aria-label="{{ 'general.slider.next' | t }}" type="button">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                      </button>
                    </li>
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div>
        {% endcase %}
      </div>
    </div>
  </div>
</section>

{% if section.blocks.size > 0 %}
  <div class="slider-pagination-container slider--{{ section.id }}"></div>
{% endif %}

<style>

  .slideshow-{{ section.id }}--fade .flex-active-slide .testimonial-content{
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }

  .animations-disabled .slideshow-{{ section.id }}--fade .flex-active-slide .testimonial-content{
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    animation-name: none;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    transition: none;
  }

  .homepage-section--testimonials-wrapper .slider-pagination-container {
    display: flex;
    position: absolute;
    transform: translateX(-50%);
    bottom: 20px;
    left: 50%;
    z-index: 2;
    color: #ffffff;
  }

  .homepage-section--testimonials-wrapper .flex-direction-nav {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
  }

  .homepage-section--testimonials-wrapper .flexslider {
    overflow: hidden;
  }

  .homepage-section--testimonials-wrapper .flex-direction-nav .flex-nav-next, 
  .homepage-section--testimonials-wrapper .flex-direction-nav .flex-nav-prev {
    width: 100%;
  }

  .homepage-section--testimonials-wrapper .flex-direction-nav__button.flex-next {
    right: -55px;
  }

  .homepage-section--testimonials-wrapper .flex-direction-nav__button.flex-prev {
    left: -55px;
  }

  .homepage-section--testimonials-wrapper .flex-direction-nav__button {
    -moz-transition: all .15s ease 0s;
    -webkit-transition: all .15s ease 0s;
    transition: all .15s ease 0s;
    display: block;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    bottom: -15px;
    z-index: 1;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    color: #707070;
  }

  .homepage-section--testimonials-wrapper .slider-pagination-container .flex-control-nav {
    position: static;
    height: auto;
    display: flex;
    align-items: center;
  }

  .homepage-section--testimonials-wrapper .flex-pauseplay {
    margin: 0 6px;
  }

  .homepage-section--testimonials-wrapper .flex-pauseplay,
  .homepage-section--testimonials-wrapper .flex-pause,
  .homepage-section--testimonials-wrapper .flex-play {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .homepage-section--testimonials-wrapper .flex-pauseplay a {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    transition: 100ms all ease;
    cursor: pointer;
  }

  .homepage-section--testimonials-wrapper .flex-pauseplay a.flex-play {
    border-style: solid;
    border-width: 8px 0 8px 17px;
  }

  .homepage-section--testimonials-wrapper .flex-pauseplay a.flex-pause {
    border-style: double;
    border-width: 0px 0 0px 17px;
  }

</style>

{% schema %}
{
    "name": {
        "en": "Testimonials",
        "de": "Erfahrungsberichte",
        "es": "Testimonios",
        "fr": "Témoignages",
        "pt-PT": "Testemunhos"
    },
    "class": "homepage-section--testimonials-wrapper",
    "settings": [
        {
            "type": "select",
            "id": "colors",
            "label": {
                "en": "Color scheme",
                "de": "Farbschema",
                "es": "Esquema de colores",
                "fr": "Palette de couleurs",
                "pt-PT": "Esquema de cores"
            },
            "default": "white",
            "options": [
                {
                    "value": "white",
                    "label": {
                        "en": "White",
                        "de": "Weiß",
                        "es": "Blanco",
                        "fr": "Blanc",
                        "pt-PT": "Branco"
                    }
                },
                {
                    "value": "light",
                    "label": {
                        "en": "Light",
                        "de": "Licht",
                        "es": "Luz",
                        "fr": "Clair",
                        "pt-PT": "Claro"
                    }
                },
                {
                    "value": "accent",
                    "label": {
                        "en": "Feature",
                        "de": "Eigenschaft",
                        "es": "Destacado",
                        "fr": "Caractéristique",
                        "pt-PT": "Funcionalidade"
                    }
                },
                {
                    "value": "dark",
                    "label": {
                        "en": "Dark",
                        "de": "Dunkel",
                        "es": "Oscuro",
                        "fr": "Foncé",
                        "pt-PT": "Escuro"
                    }
                }
            ],
            "info": {
                "en": "Set your color schemes in 'Theme settings' > 'Colors'",
                "de": "Legen Sie Ihre Farbschemata in 'Themeneinstellungen' > 'Farben' fest",
                "es": "Configurar las combinaciones de color en 'Configuración del tema' > 'Colores'",
                "fr": "Définissez vos jeux de couleurs dans « Paramètres du thème » > « Couleurs »",
                "pt-PT": "Defina os seus esquemas de cor em 'Definições de tema' > 'Cores'"
            }
        },
        {
          "type": "text",
          "id": "subheading",
          "label": {
            "en": "Subheading",
            "de": "Unterüberschrift",
            "es": "Subencabezado",
            "fr": "Sous-rubrique",
            "pt-PT": "Subtítulo"
          }
        },
        {
            "type": "text",
            "id": "title",
            "default": {
                "en": "Testimonials",
                "de": "Erfahrungsberichte",
                "es": "Testimonios",
                "fr": "Témoignages",
                "pt-PT": "Testemunhos"
            },
            "label": {
                "en": "Heading",
                "de": "Überschrift",
                "es": "Encabezado",
                "fr": "Rubrique",
                "pt-PT": "Título"
            }
        },
        {
            "type": "radio",
            "id": "slider-animation",
            "label": {
                "en": "Transition effect",
                "de": "Übergangseffekt",
                "es": "Efectos de transición",
                "fr": "Effet de transition",
                "pt-PT": "Efeito de transição"
            },
            "options": [
                {
                    "value": "slide",
                    "label": {
                        "en": "Slide",
                        "de": "Dia",
                        "es": "Deslizarse",
                        "fr": "Diapositive",
                        "pt-PT": "Diapositivo"
                    }
                },
                {
                    "value": "fade",
                    "label": {
                        "en": "Fade",
                        "de": "Ausblenden",
                        "es": "Desvanecerse",
                        "fr": "Fondu",
                        "pt-PT": "Desvanecer"
                    }
                }
            ],
            "default": "fade"
        },
        {
            "type": "range",
            "id": "slider-slide-time",
            "min": 3,
            "max": 8,
            "step": 1,
            "unit": {
                "en": "sec",
                "de": "Sek.",
                "es": "seg",
                "fr": "sec.",
                "pt-PT": "seg"
            },
            "label": {
                "en": "Rotation interval",
                "de": "Rotationsintervall",
                "es": "Intervalo de rotación",
                "fr": "Intervalle de rotation",
                "pt-PT": "Intervalo de rotação"
            },
            "default": 4
        },
        {
            "type": "checkbox",
            "id": "show-slide-dots",
            "label": {
                "en": "Show slide dots",
                "de": "Diapunkte anzeigen",
                "es": "Mostrar puntos para deslizamiento",
                "fr": "Montrer les points des diapositives",
                "pt-PT": "Mostrar pontos do diapositivo"
            },
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show-slide-arrows",
            "label": {
                "en": "Show slide arrows",
                "de": "Diapfeile anzeigen",
                "es": "Mostrar flechas para deslizamiento",
                "fr": "Afficher les flèches de diapositives",
                "pt-PT": "Mostrar setas do diapositivo"
            },
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show-slide-controls",
            "label": {
                "en": "Show play/pause button",
                "de": "Wiedergabe-/Pause-Taste anzeigen",
								"es": "Mostrar botón de reproducción/pausa",
								"fr": "Afficher le bouton lecture/pause",
								"pt-PT": "Mostrar botão de reprodução/pausa"
            },
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "textarea",
            "name": {
                "en": "Testimonial",
                "de": "Erfahrungsbericht",
                "es": "Testimonio",
                "fr": "Témoignage",
                "pt-PT": "Testemunho"
            },
            "settings": [
                {
                    "type": "select",
                    "id": "stars",
                    "label": {
                        "en": "Review Stars",
                        "de": "Review Stars",
                        "es": "Review Stars",
                        "fr": "Review Stars",
                        "pt-PT": "Review Stars"
                    },
                    "info": {
                        "en": "Optional",
                        "de": "Optional",
                        "es": "Opcional",
                        "fr": "Facultatif",
                        "pt-PT": "Opcional"
                    },
                    "options": [
                        { "value": "0", "label": "None"},
                        { "value": "1", "label": "1"},
                        { "value": "2", "label": "2"},
                        { "value": "3", "label": "3"},
                        { "value": "4", "label": "4"},
                        { "value": "5", "label": "5"}
                    ]
                },
                {
                    "type": "textarea",
                    "id": "testimonial",
                    "label": {
                        "en": "Testimonial",
                        "de": "Erfahrungsbericht",
                        "es": "Testimonio",
                        "fr": "Témoignage",
                        "pt-PT": "Testemunho"
                    },
                    "default": {
                        "en": "\"Show off incredible feedback from your customers\"",
                        "de": "\"Stellen Sie das unglaubliche Feedback Ihrer Kunden zur Schau\"",
                        "es": "\"Muestra comentarios increíbles de tus clientes\"",
                        "fr": "\"Mettre en avant les retours incroyables de vos clients\"",
                        "pt-PT": "\"Exiba as opiniões maravilhosas dos seus clientes\""
                    }
                },
                {
                    "type": "text",
                    "id": "author",
                    "label": {
                        "en": "Author",
                        "de": "Autor",
                        "es": "Autor",
                        "fr": "Auteur",
                        "pt-PT": "Autor"
                    },
                    "info": {
                        "en": "Optional",
                        "de": "Optional",
                        "es": "Opcional",
                        "fr": "Facultatif",
                        "pt-PT": "Opcional"
                    },
                    "default": {
                        "en": "John Doe",
                        "de": "John Doe",
                        "es": "John Doe",
                        "fr": "John Doe",
                        "pt-PT": "John Doe"
                    }
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": {
                        "en": "Link",
                        "de": "Link",
                        "es": "Enlace",
                        "fr": "Lien",
                        "pt-PT": "Ligação"
                    },
                    "info": {
                        "en": "Optional",
                        "de": "Optional",
                        "es": "Opcional",
                        "fr": "Facultatif",
                        "pt-PT": "Opcional"
                    }
                }
            ]
        }
    ],
    "presets": [
        {
            "name": {
                "en": "Testimonials",
                "de": "Erfahrungsberichte",
                "es": "Testimonios",
                "fr": "Témoignages",
                "pt-PT": "Testemunhos"
            },
            "category": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "blocks": [
                {
                    "type": "textarea"
                },
                {
                    "type": "textarea"
                },
                {
                    "type": "textarea"
                }
            ]
        }
    ],
    "templates": [
        "index",
        "collection",
        "list-collections",
        "blog",
        "article",
        "page",
        "password",
        "404",
        "cart",
        "search",
        "product"
    ]
}
{% endschema %}
